<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://family-recipe-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b505c087-88a8-4bc9-ac31-a9b2e73d363c/resourceGroups/Apu_Recipe_Website/providers/Microsoft.Web/sites/family-recipe-api</ResourceId>
    <UserName>$family-recipe-api</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://family-recipe-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>